body {
  background-color: rgb(70, 106, 132);
}

#board {
  width: 440px;
  height: 440px;
  border: 2.5px solid rgb(26, 28, 17);
  background-color: rgb(222, 222, 222);
}

#score,
#highScore {
  color: rgb(222, 222, 222);
  font-family: "Courier New", "Lucida Console", "Monaco";
}

.snake,
.apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(35, 102, 61);
  z-index: 2;
}

main {
  display: flex;
  border-radius: 4px;
  margin: auto;
}

.snake-colors {
  flex: 1;
  padding: 15px;
  background: rgb(222, 222, 222);
  display: auto;
  border: 2.5px solid rgb(26, 28, 17);
  border-radius: 4px;
  position: fixed;
  top: 20px;
  left: 500px;
}

.snake-colors h1 {
  color: rgb(26, 28, 17);
  font-family: "Courier New", "Lucida Console", "Monaco";
}

#colors {
  list-style-type: none;
  padding-left: 0;
  font-size: 11px;
  font-family: "Courier New", "Lucida Console", "Monaco";
}

#colors h2 {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
}

#colors b {
  text-decoration: none;
  color: #454545;
}

.snake-color.locked {
  filter: brightness(50%);
}

.snake-color[data-color="pink"] {
  background-color: rgb(209, 87, 150);
}

.snake-color[data-color="blue"] {
  background-color: rgb(58, 58, 201);
}

.snake-color[data-color="red"] {
  background-color: rgb(220, 62, 62);
}

#snake-head {
  background-color: rgb(35, 114, 62);
}

.apple {
  background-color: rgb(209, 27, 34);
  z-index: 1;
}